* {
    margin: 0;
    padding: 0;
}



#logonavbar {
    display: flex;
    margin-top: -10px;
    margin-bottom: 39px;
    height: 70px;
    width: 100%;
    box-shadow: rgba(124, 124, 124, 0.19) 0px 10px 20px;
    background-color: rgb(255, 255, 255);
}

#logonavbar .logo {
    width: 70%;
}

#logonavbar .logo img {
    height: 70px;
    width: 95px;
    margin-left: 127px;
    cursor: pointer;
}

#logonavbar .navbar {
    display: flex;
    width: 40%;
    padding-right: 150px;
    padding-bottom: 20px;
}

#logonavbar .navbar li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 18px;
}

#main {
    width: 100%;
    height: 100%;
}

#main .texthead {
    text-align: center;
}

#main .texthead p {
    margin: 26px;
    color: rgb(200, 104, 9);
}

#main .texthead h1 {
    font-size: 40px;
}


#main .imagescard {
    display: flex;
    height: 600px;
    width: 80%;
    margin: 63px 100px 40px 137px;
    justify-content: space-between;
    cursor: pointer;
}

#main .imagescard>div {
    width: 31%;
}

.imagescard .image {
    height: 65%;
}

.imagescard .image img {
    width: 100%;
    height: 100%;
}

.imagescard .star {
    color: rgb(83, 83, 83);
    padding-left: 5px;
    padding-top: 20px;
}

.imagescard .star i {
    color: rgb(229, 255, 0);
}

.imagescard .name {
    padding-left: 5px;
    padding-top: 20px;
    color: rgb(83, 83, 83);
    margin-bottom: 20px;
}

.imagescard .name h3 {
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.imagescard .name span {
    font-size: 18px;
    color: rgb(0, 17, 255);
}

.imagescard .time-location {
    display: flex;
    padding-top: 13px;
    padding-left: 5px;
    color: grey;
}

.imagescard .time-location .location {
    margin-left: 30px;
}

.imagescard i {
    margin-right: 10px;
}